a{
  float: right;
  margin-right: 50%
}

.label{
  font-weight: bold;
}

p{
  display:inline-block;
}

.entry{
  margin-left: 8px;
}

button{
  border-radius: 5px;
  height: 33px;
  margin-top: 10px;
}
#like{
  color: white;
  background-image: linear-gradient(to top, rgb(133, 164, 189), white)
}
#adopt{
  margin-left: 5%;
  color: white;
  background-image: linear-gradient( to top, rgb(104, 133, 104), white)
}
