<html>
    <body>
        <form>
            <legend>
                Name: <input type="text" name="name">
            </legend>
            <legend>
                Make:  <input type="text" name="make">
            </legend>
            <legend>
                Model: <input type="text" name="model">
            </legend>
            <input type="button" value="Send!" name="button">
        </form>
    </body>
</html>